<h1>Trackings</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Page URL</th>
      <th scope="col">Video URL</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @trackings.each_with_index do |tracking, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= tracking.page_url %></td>
        <td><%= tracking.video_url %></td>
        <td>
          <%= link_to 'Show', tracking, :class => 'btn btn-primary' %>
          <%= link_to 'Edit', edit_tracking_path(tracking), :class => 'btn btn-primary' %>
          <%= link_to 'Destroy', tracking, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Tracking', new_tracking_path, :class => 'btn btn-primary' %>
