<p id="notice"><%= notice %></p>

<p>
  <strong>Page url:</strong>
  <%= @tracking.page_url %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @tracking.video_url %>
</p>

<%= link_to 'Edit', edit_tracking_path(@tracking), :class => 'btn btn-primary' %> |
<%= link_to 'Back', trackings_path, :class => 'btn btn-primary' %>
